<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    <h2>Command</h2>
    <div>
        <a href="/show_int">Show Ip Interface brief</a>
    </div>
    <div>
        <a href="/config_vlan">Config VLAN</a>
    </div>
    <div>
        <a href="/configure_ip">Configure Ip</a>
    </div>
    <div>
        <a href="/configure_mode">Configure Mode</a>
    </div>
</body>
</html>
